
<div class="container">
  <h4>Оформление заказа</h4>
    <div class="row">
      <div class="col-7 card-list">
        <table class="table tabel-info border">
          <thead class="table-success">
            <tr>
              <th scope="col">Фото</th>
              <th scope="col">Наименование товара</th>
              <th scope="col">Кол-во</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="img/2123-680x350.jpg" alt=""></td>
              <td>Барон "Caramel" SKY тумба слева</td>
              <td>2</td>
              <td class="del"><i class="far fa-times-circle"></i></td>
            </tr>
            <tr>
              <td><img src="img/2123-680x350.jpg" alt=""></td>
              <td>Барон "Caramel" SKY тумба слева</td>
              <td>1</td>
              <td class="del"><i class="far fa-times-circle"></i></td>
            </tr>
            <tr>
              <td><img src="img/2123-680x350.jpg" alt=""></td>
              <td>Барон "Caramel" SKY тумба слева</td>
              <td>3</td>
              <td class="del"><i class="far fa-times-circle"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-5 delivery-methods">
        <table class="table tabel-info border">
          <thead class="table-success">
            <tr>
              <th scope="col">Способы доставки:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">
                <input id="pickup" name="method" type="radio">
                <label for="pickup">Самовывоз со склада</label>
                <br>
                <input id="delivery" name="method" type="radio">
                <label for="delivery">Доставка на адрес</label>
              </th>
            </tr>
          </tbody>
        </table>
        <table class="table tabel-info border">
          <thead class="table-success">
            <tr>
              <th scope="col">Коментарий:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">
                <textarea name="" id=""></textarea>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 pay-form border">
        <label for="">Email</label>
        <input type="email" required>
        <div class="w-100"></div>
        <label for="">Имя</label>
        <input type="text" required>
        <div class="w-100"></div>
        <label for="">Телефон</label>
        <input type="text" required>
        <div class="w-100"></div>
        <div class="w-100 justify-content-end d-flex">
          <button type="submit" class="btn btn-success">Оформить заказ</button>
        </div>
      </div>
      
    </div>
  </div>