<header>
  <div class="container">
    <nav class="nav navbar">
      <div class="contact-phone">
        <i class="fas fa-phone-volume"></i>
        <a href="tel:+380931500333">Звоните нам прямо сейчас +380931500333</a>
        <div class="w-100"></div>
        <i class="fas fa-map-marker-alt"></i>
        <span>Наш адресс: тестовый адресс</span>
      </div>
      <div class="brand">
        <a href="/">
          <b>ВММ</b>
        </a>
      </div>
      <div class="right-side d-flex">
        <div class="search">
          <a href="">
            <i class="fas fa-search"></i>
          </a>
        </div>
        <div class="profile">
          <a routerLink="login">
            <i class="fas fa-user"></i>
          </a>
        </div>
        <div class="cart">
          <a routerLink="cart">
            <i class="fas fa-shopping-cart"></i> ({{countProduct}})
          </a>
        </div>
      </div>
    </nav>
    </div>
</header>